body{
	margin: auto !important;
	margin-left: 0px !important;
	background: white;
	font-family: 'Mulish', sans-serif !important;
	scroll-behavior: smooth;
}

ul{
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

/*====================================[H E A D E R]===========================================*/
#top {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 10;
}

.space{
	height: 50px;
}

.header{
	position: relative;
	width: 100%;
	background-color: #F0A868;
}

.nav{
	position: relative;
	width: 100%;
	background-color: #FFE8C2;
}

.nav-home li {
	align-items: center;
	display: inline;
	padding-left: 0.3em;
	margin-left: 2px;
	margin-right: 5px;
}

.first {
	border-left: none !important; 
	padding-left: 0 !important;
}

.isi-header, .isi-nav, .my-container, .footer{
	padding: 10px 15px 10px 15px;
	max-width: 1400px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.logo img{
	width: 155px;
	height: 40px;
}

.search input{
	margin: 2px 0px 0px 5px;
	padding: 15px;
	width: 100%;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #BDBDBD;
	font-family:Arial, FontAwesome;
}

.material-icons-outlined{
	vertical-align: -4px;
	
	font-size: 20px !important;
}

.isi-nav a{
	color: black;
	transition: 0.4s;
}

.isi-nav a:hover{
	padding: 12px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	background: #6A8D73;
}

.cart{
	padding-top: 3px;
}

.isi-cart{
	color: black;
	font-size:20px;
	transition: 0.3s;
}

.isi-cart:hover{
	color: #F4FDD9;
	transition: 0.3s;
}

.dropdown button{
	padding:5px;
	border-radius: 50px;
	width: 100%;
	background-color: #6A8D73;
}

.dropdown button:hover{
	color: black;
	background-color: #F4FDD9;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: black !important;
	background-color: #E4FFE1 !important;
}

input:focus{
	outline: none !important;
}

button:focus {
	outline: none !important;
}
/*====================================[H E A D E R]===========================================*/




/*====================================[C O N T E N T]===========================================*/
.my-container .row{
	padding: 35px 45px;
	height: 300px;
	background-color: #F4FDD9;
}

.intro{
	height: 350px !important;
	background-color: #F0A868 !important;
}

.intro img{
	width: 60%;
	height: auto;
}

.beli, .care, .outro{
	background-color: white !important;
}

.my-container h1{
	color: black;
	font-weight: 600;
}


.intro h1 a{
	font-size: 60px;
}

.my-container button{
	font-weight: 500;
	width: 120px;
	height: 40px;
	border: 1px solid #6A8D73;
	border-radius: 20px;
}

.intro .daftar{
	color: white;
	background-color: #6A8D73;
	transition: 0.3s;
}

.intro .daftar:hover{
	color: #6A8D73;
	background-color: #F4FDD9;
	transition: 0.3s;
}

.intro .login{
	color: #000000;
	background-color: #FFE8C2;
	transition: 0.3s;
}

.intro .login:hover{
	color: #6A8D73;
	background-color: #F4FDD9;
	transition: 0.3s;
}

.isi-intro{
	padding-top: 35px;
}

.isi-intro h5{
	margin: 15px 0;
}

.fitur{
	color: black;
}

.fitur button{
	width: 150px;
	color: white;
	background-color: #6A8D73;
	transition: 0.3s;
}

.fitur button:hover{
	color: #6A8D73;
	background-color: #F4FDD9;
	transition: 0.3s;
}

.fitur h4{
	padding: 10px 0;
}

.fitur img{
	width: 70%;
	height: auto;
}

.fitur .beli img{
	width: 50%;
}

.fitur .care img{
	width: 65%;
}

.outro{
	height: 470px !important;
}

.outro-pic img{
	width: 25%;
	height: auto;
}

.isi-outro h2{
	color: black;
	font-weight: 700;
}

.isi-outro h2 a{
	font-size: 36px !important;
	font-family: 'Sacramento', cursive;
}

button{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
/*====================================[C O N T E N T]===========================================*/




/*=======================================[F O O T E R]==========================================*/
.footer {
	background: #1f1f1f;
	height: 80px;
	font-size: 16px;
 }

 .footer .logo{
 	margin-top: -40px;
 	margin-right: 10px;
 	float: right;
 }

.footer span{
	color: white;
}
/*=======================================[F O O T E R]==========================================*/
