body{
	margin: auto !important;
	margin-left: 0px !important;
	background: white;
	font-family: 'Mulish', sans-serif !important;
	scroll-behavior: smooth;
	color: black !important;
}

ul{
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

/*====================================[H E A D E R]===========================================*/
#top {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 10;
}

.space{
	height: 40px;
}

.nav{
	position: relative;
	width: 100%;
	background-color: #FFE8C2;
}

.nav h6{
	margin: 0px;
}

.nav-home li {
	align-items: center;
	display: inline;
	padding-left: 0.3em;
	margin-left: 2px;
	margin-right: 5px;
}

.first {
	border-left: none !important; 
	padding-left: 0 !important;
}

.isi-nav, .my-container, .space{
	padding: 10px 15px 10px 15px;
	max-width: 1400px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.logo img{
	width: 200px;
	height: auto;
	margin: 25px 0px;
}

.material-icons-outlined{
	vertical-align: -4px;
	
	font-size: 20px !important;
}

button:focus {
	outline: none !important;
}
/*====================================[H E A D E R]===========================================*/




/*====================================[C O N T E N T]===========================================*/
.summary-wrapper{
	border: 2px solid #F0A868;
	padding: 25px 0;
	border-radius: 20px;
	background-color: #fcfcfc;
}

.checkout-wrapper{
	padding: 25px 45px !important;
}

.summary-wrapper hr, .checkout-wrapper hr{
	border: 3px solid #6A8D73;
}

.title{
	font-size: 20px;
	margin: 25px 0px 7px 0px ;
}

.cstm-nm .title{
	margin-top: 0px !important;
}

.address input, .address select{
	margin-top: 15px;
}

.no-margin-top, .address .no-margin-top input{
	margin-top: 0px !important;
}

.plh-prov:hover{cursor: pointer;}

.beda{
	border: 1px solid #F0A868 !important;
	margin: 35px 0px;
}

.submit-btn{
	margin-top: 30px;
	width: 180px;
}
/*====================================[C O N T E N T]===========================================*/




/*=======================================[F O O T E R]==========================================*/

/*=======================================[F O O T E R]==========================================*/
