body{
	margin: auto !important;
	margin-left: 0px !important;
	background: white;
	font-family: 'Mulish', sans-serif !important;
	scroll-behavior: smooth;
}

ul{
	margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}

/*====================================[H E A D E R]===========================================*/
.header{
	position: relative;
	width: 100%;
	background-color: #F0A868;
}

.nav{
	position: relative;
	width: 100%;
	background-color: #FFE8C2;
}

.nav-home li {
	align-items: center;
	display: inline;
	padding-left: 0.3em;
	margin-left: 2px;
	margin-right: 5px;
}

.space{
	height: 20px;
}

.first {
	border-left: none !important; 
	padding-left: 0 !important;
}

.isi-header, .isi-nav, .my-container, .footer{
	padding: 10px 15px 10px 50px;
	max-width: 1400px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.isi-nav{
	padding-right: 450px !important;
}

.logo img{
	width: 155px;
	height: 40px;
}

.search input{
	margin: 2px 0px 0px 5px;
	padding: 15px;
	width: 100%;
	height: 35px;
	border-radius: 20px;
	border: 1px solid #BDBDBD;
	font-family:Arial, FontAwesome;
}

.material-icons-outlined{
	vertical-align: -4px;
	
	font-size: 20px !important;
}

.isi-nav a{
	color: black;
	transition: 0.4s;
}

.isi-nav a:hover{
	padding: 12px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	background: #6A8D73;
}

.cart{
	padding-top: 3px;
}

.isi-cart{
	color: black;
	font-size:20px;
}

.dropdown button{
	padding:5px;
	border-radius: 50px;
	width: 100%;
	background-color: #6A8D73;
}

.dropdown button:hover{
	color: black;
	background-color: #F4FDD9;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: black !important;
	background-color: #E4FFE1 !important;
}
input:focus{
	outline: none !important;
}

button:focus{
	outline: none !important;
}
/*====================================[H E A D E R]===========================================*/


/*====================================[C O N T E N T]===========================================*/
h4{
	margin-top: 25px !important;
}

.title{
	margin-bottom: 55px;
}

#inputNama{
	width: 400px !important;
}

.form-check-input{
	margin-left: 50px !important;
}

.form-check-label{
	margin-left: 75px !important;
}

.simpan{
	font-size: 24px !important;
	letter-spacing: 1px !important;
	margin: 50px 0px 30px 350px !important;
	width: 500px !important;
	height: 50px !important;
	padding:5px !important;
	border-radius: 50px !important;
	background-color: #6A8D73 !important;
	border: 2px solid #6A8D73 !important;
	transition: 0.3s;
}

.simpan:hover{
	color: black !important;
	background-color: #F4FDD9 !important;
	transition: 0.3s;
}

@media only screen and (max-width:990px){
	.product-grid6{
		margin-bottom: 30px
	}
}

button{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}
/*====================================[C O N T E N T]===========================================*/




/*=======================================[F O O T E R]==========================================*/
.footer {
	margin-top: 30px;
	background: #1f1f1f;
	height: 80px;
	font-size: 16px;
 }

 .footer .logo{
 	margin-top: -40px;
 	margin-right: 10px;
 	float: right;
 }

.footer span{
	color: white;
}
/*=======================================[F O O T E R]==========================================*/
